* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
	height: 100vh;
  background: url('https://images.unsplash.com/flagged/photo-1585579047239-9471d8823b6e?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDcwfDZzTVZqVExTa2VRfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 1.562rem;
	border-style: double;
	position: relative;
	top: -8.125rem;

}
h2 {
	font-size: 1.562rem;
}

p {
  margin-top: 0.937rem;
  font-family: mv boli;
}

	.profile-card {
  width: 18.75rem;
  max-width:calc(150vw - 0.937rem);
  background-color:antiquewhite;
  border-radius: 0.937rem;
	margin-top: 15.62rem;

}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 80%;
  margin: 0 auto;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 5% 10%;
  border-top: 0.0625rem solid hsla(0, 0%, 30%, .8);
}

.profile-image {
  margin-top: 50%;
 
	
}

.about {
  text-align: justify;
}

img {
  width: 7.5rem;
	height: 7.5rem;
	position: relative;
	top: 3.5rem;
	padding: 0.0625rem;
  background-color: crimson;
  transition: all 0.5s ease-in-out;
  filter: grayscale(80);
}

img:hover {
  transform: scale(3.3);
  filter: opacity(25%);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  color:silver;
  font-size: 3.125rem;
}

a:hover {
  color:black;
}
	
/*====BASE STYLE====*/

p {
	font-family: 'Lobster', cursive;
}

h1, h2 {
	font-family: 'Redressed', cursive;
}

 /* ==== LAYOUT STYLES ==== */

h1, h2, p, ul, li, .profile-image,.name-headline, .about, .links, {
  margin-bottom: 1rem;
}

  /* ==== PROFILE STYLE ==== */

.profile-image {
  text-align: center;
	padding: 0.15rem;
}
/* ==== ABOUT STYLE ==== */

.name-headline, .about, .links {
  width: 95%;
	margin: 0 auto 0.5rem;
	padding: 0.20rem;
}
.picture {
	width: 100%;
}

/* ==== Médiabeállítások  ==== */

@media (max-width: 320px) {

    .profile-card {
      width: 18.5rem;
      height: 44.5rem;
  }

    .profile-image {
      height: 50%;
  }

    .name-headline {
      height: 45%;
      padding: 0.625rem;
  }

    .content {
      height: 55%;
  }
}
	
@media (min-width: 768px) {

  .profile-card {
    position: absolute;
    width: 28.5rem;
    height: 60.5rem ;
  }

  .name-headline {
    position: relative;
    width: 75%;
    height: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }

  .profile-image {
		position: relative;
		width: 100%;
    height: 100%;
		right: auto;
  }

  .content {
    position: relative;
    width: 80%;
    height: 100%;
  }

}









